# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
input.txt
output.txt
test
test.cpp
# .vscode/c_cpp_properties.json
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/tmp/Icon
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/Icon
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/tmp/Icon
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/Icon
# Icon
test (1).cpp
output (1).txt
input (1).txt
cmake-build-debug/CMakeFiles/clion-log (1).txt
cmake-build-debug/CMakeFiles/3.16.5/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.16.5/CMakeCCompiler.cmake
.vscode/tasks (1).json
.idea/workspace (1).xml
test (1)
*.xml
.DS_Store
test1.cpp
*.txt
*.json
